colorama
fastapi
google_api_python_client
imap_tools
mysql_connector_repackaged
numpy
opencv_python
Pillow
playwright
protobuf
PyAutoGUI
PyMySQL
PyPDF2
pytesseract
python-dotenv
Requests
selenium
sendgrid
SQLAlchemy
torch
torchvision
twilio
ultralytics
uvicorn
webdriver_manager